nav a {
    text-decoration: none;
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
}
nav a:hover {
    text-decoration: underline;
    color: white;
}
nav h1 {
    color: white;
    font-size: 3rem;
}
body .navbar {
    position: sticky;
    top:1px;
}
.section-a {
    margin:0;
    position: relative;
    background-image: url("../images/section1-bgi.jpg");
    height: 100vh;
}
.section-a .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.section-a .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10rem;
    align-items: center;
    justify-content: center;
    height: inherit;
    color: white;
}
.section-a .container h3 {
   font-size: 15px;
}
.description h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 2rem;
}
.description h2 {
    font-weight: bold;
    font-size: 40px;
}
.apply-form h3 {
    margin: 2rem 0;
}
.section-a .container .form-overlay {
    background-color: rgba(0,0,0,0.5);
}
.apply-form {
    width:auto;
    margin: 2rem 2rem 2rem 2rem;
}

.apply-form button {
    width: 100%;
    color: white;
    margin-top: 15px;
}
.apply-form textarea {
    height: 150px;
}


